<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/index.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>Ingrese una secuencia de numeros</h1>
        <div id="containerInputButton">
            <input type="text" name="listNumbers" placeholder="Ejm: 3, 5, 2, 8, 4, 5, 7" id="inputList">
            <input type="submit" value="Ordenar" id="buttonSend">
        </div>
        <div id="containerResult">Lista ordenada :</div>
    </div>
</body>
</html>